/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.navbar-rh {
    background-color: #0b1f3a;
}

.navbar-rh .navbar-brand,
.navbar-rh .nav-link {
    color: #ffffff;
}

.navbar-rh .nav-link:hover {
    color: #a9c7ff;
}

.navbar-rh .nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid #a9c7ff;
}